/* Turned header into flexbox in order to have title and nav select display side by side */
header {
  width: 100%;
  background-color: #333333;
  color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap row;
}

/* The text header of the page */
header > h1 {
  width: 60%;
  text-align: center;
}

nav {
    width: 40%;
}

/* Flexbox separate from the header */
#main_content {
  width: 50%;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap row;
  background-color: lightcyan;
}

#profile_pic {
    width: 40%;
}

/* This affects the paragraph/about text blurb */
.section_1 p {
    width: 100%;
  background-color: aqua;
}

#footer {
    text-align: center;
    width: 100%;
  background-color: lightcoral;
  position: fixed;
  bottom: 0;
}

.section_1 {
    outline: 1px solid blue;
}

.section_2 {
    width: 100%;
outline: 1px solid red;
}

/* Used to hide the label for nav selector while still keeping the label for accessibility purposes */
label {
  display: none;
}
