body {
  background-color: #ccc5b9;
  padding: 0;
  margin: 0;
  /* Using flexbox to center all content on the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  /* To stop the header and main content from 'squishing' into each other */
  flex-wrap: wrap;
  /* CSS needed to make font work, provided by google fonts */
  font-family: "Victor Mono", monospace;
  font-size: 0.75rem;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* For any bolded text, created by using an inline <span> tag */
.bold {
  font-weight: bold;
}

/* Turned header into flexbox in order to have title and nav select display side by side */
header {
  width: 100%;
  height: auto;
  background-color: #252422;
  color: #fffcf2;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap row;
}

/* The text header of the page */
header > h1 {
  width: 50%;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-left: 10%;
}

header > h1:hover {
  color: #eb5e28;
}

/* Defined a width for the nav container for the header flexbox property */
nav {
  width: 40%;
}

a {
  color: #eb5e28;
  text-decoration: none;
}

a:hover {
  color: #ccc5b9;
  text-decoration: underline;
}

/* Editing the select drop down menu, even though it is not compatibile with older browsers */

select {
  /* This is used to reset the drop down menu to it's basic settings */
  appearance: base-select;
}

#nav_select {
  font-family: inherit;
  border: 0;
  padding: 8px 20px;
  background-color: black;
  color: white;
}

#nav_select:hover {
  background-color: #eb5e28;
}

#footer {
  text-align: center;
  font-size: 0.65rem;
  width: 100%;
  background-color: #252422;
  color: #fffcf2;
  position: fixed;
  bottom: 0;
}

/* .section_1 {
  outline: 1px solid blue;
}

.section_2 {
  width: 100%;
  outline: 1px solid red;
} */

/* Used to hide the label for nav selector while still keeping the label for accessibility purposes */
label {
  display: none;
}

input {
  font-family: inherit;
  border: none;
  padding: 5px 10px;
  font-size: 0.6rem;
}

/* Selector for the submit button */
[type="submit"] {
  background-color: #eb5e28;
  color: #fffcf2;
  border-radius: 5%;
  font-size: 0.6rem;
}

[type="submit"]:hover {
  background-color: #fffcf2;
  color: #eb5e28;
}

#copyright {
  font-size: 0.6rem;
}
